/* html, body {
margin: 0;
padding: 0;
display: flex;
justify-content: center;
background-color: lightblue;
}

.calculator {
background-color: darkgray;
width: 130px;
padding: 30px;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
margin: 50px;

}

input {
width: 100%;
height: 30px;
border: 0;
border-radius: 10px;
padding: 0 10px 0 10px;
}

h1 {
line-height: 40%;
}

.screen {
width: 100%;
height: 60px;
border-radius: 10px;
background-color: lightgreen;
margin: 20px 0 0 0;
padding: 0 10px 0 10px;
font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: darkgreen;
}

.button {
width: 50px;
height: 30px;
background-color: lightcoral;
border-radius: 20px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
box-shadow: 2px 2px 10px dimgray;
margin: 10px 0 0 0;
} */

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
  color: darkgrey;
  flex-direction: column;
}

.container {
  margin: 20px;
}

.nav-bar {
  width: 100%;
  position: sticky;
  background-color: white;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: 46px;
  background-size: 47px;
  background-image: url('images/sofa-logo.png');
  margin: 20px;
}

.user-container {
  margin: 20px;
}